@{
    ViewData["Title"] = "Home Page";
}
<div class="row">   
    <div class="col-md-12">
        <h2>AspNet Core MVC - Dapper</h2>
        <a class="btn btn-default" asp-controller="Category" asp-action="Index">Categories</a>
        <a class="btn btn-default" asp-controller="Product" asp-action="Index">Products</a>
    </div>    
</div>